<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="_meta :: header" >
	<title>列表</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>管理<span
		class="c-gray en">&gt;</span>列表<a class="btn btn-success radius r"
										  style="line-height:1.6em;margin-top:3px"
										  href="javascript:location.replace(location.href);" title="刷新"><i
		class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<form action="#" th:action="@{/lgUser/allUser}" method="post">
		<div class="layui-body">
			<!-- 内容主体区域 -->
			<fieldset class="layui-elem-field">
				<legend>列表</legend>
				<div class="layui-field-box">

					<hr style="margin: 0">
					<div class="cl pd-5 bg-1 bk-gray">
						<span class="l">
						<a href="javascript:;"
						   onclick="deleteAll('/lgUser/deleteAll')"
						   class="layui-btn  layui-btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
						<a href="javascript:;"
						   onclick="layer_show('添加','/lgUser/addBefore',900,500)"
						   class="layui-btn  layui-btn-normal radius"><i class="Hui-iconfont">&#xe600;</i> 添加</a>
						</span>
						<span class="r wei-height">共有数据：<strong th:text="${pageInfo.list.size()}"></strong> 条</span>
					</div>
					<hr>

					<div class="cl pd-5 bg-1 bk-gray ">
						<!--
						<div class="searchByField">
							<input type="input-text" class="input-text" th:value="${searchInfo.departmentName}" name="departmentName" placeholder="搜索部门名称" id="departmentName"/>
							<input type="input-text" class="input-text" th:value="${searchInfo.departmentNumber}" name="departmentNumber" placeholder="搜索部门编号" id="departmentNumber"/>
							<input type="input-text" placeholder="搜索创建时间" name="createtimeSpace" th:value="${createtimeSpace}" class="input-text  timeSpace"/>
							<input type="input-text" placeholder="搜索修改时间" name="updatetimeSpace" th:value="${updatetimeSpace}" class="input-text  timeSpace"/>
							<input type="input-text" class="input-text" th:value="${searchInfo.creater}" name="creater" placeholder="搜索创建人" id="creater"/>
							<input type="input-text" class="input-text" th:value="${searchInfo.deleteMark}" name="deleteMark" placeholder="搜索删除标识" id="deleteMark"/>
							<button type="submit"
									class="layui-btn  layui-btn-success radius"><i
									class="Hui-iconfont">&#xe665;</i> 搜索
							</button>
						</div>
						-->
					</div>

					<table class="layui-table text-c">
						<thead>
						<tr class="text-c">
							<th width="25"><input type="checkbox" name="" value=""/></th>
							<th width="25">序号</th>
							<th width="40">员工姓名</th>
							<th width="40">电话号码</th>
							<th width="40">员工类型</th>
							<th width="40">是否离职</th>

							<!--<th width="40">删除标识</th>-->
							<th width="100">操作</th>
						</tr>
						</thead>
						<tbody>
						<tr class="text-c" th:if="${pageInfo.list.size() == 0}">
							<td colspan="15"><strong>暂无数据</strong></td>
						</tr>
						<tr class="text-c" th:each="user,count:${pageInfo.list}">
							<td><input type="checkbox" value="1" th:value="${user.id}"
									   name="id"/></td>
							<td th:text="${count.count}"></td>
							<td th:text="${user.userName}"></td>
							<td th:text="${user.tel}"></td>
							<!--<td th:text="${#temporals.format(user.createtime, 'yyyy-MM-dd HH:mm:ss')}"></td>
							<td th:text="${#temporals.format(user.updatetime, 'yyyy-MM-dd HH:mm:ss')}"></td>-->
							<td th:if="${user.type == '0'}">基层</td>
							<td th:if="${user.type == '1'}">部门负责人</td>
							<td th:if="${user.type == '2'}">经营班子</td>
							<td th:if="${user.type == '3'}">总经理</td>
							<td th:if="${user.avaliable==0}">离职</td>
							<td th:if="${user.avaliable==1}">在职</td>
							<td class="td-manage">

								<a type="button" title="编辑" href="javascript:;"
								   th:onclick="'javascript:layer_show(\'编辑\',\'/lgUser'+'/editBefore/'+${user.id}+'\',900,500)'"
								   class="ml-5 layui-btn layui-btn-sm" style="text-decoration:none">编辑<!--<i class="Hui-iconfont">&#xe6df;</i>--></a>
								<a type="button" title="离职" href="javascript:;"
								   th:onclick="'javascript:deleteById(\'/lgUser'+'/delete/'+${user.id}+'\')'"
								   class="ml-5 layui-btn layui-btn-sm layui-btn-danger" style="text-decoration:none">离职<!--<i class="Hui-iconfont">&#xe6e2;</i>--></a>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</fieldset>
		</div>
		<div th:include="_pagination :: page"></div>

	</form>
</div>
<!--_footer 作为公共模版分离出去-->
<div th:replace="_footer :: footerjs">
</div>

<!--/_footer 作为公共模版分离出去-->
<script>

</script>
<style>
	.layui-body {
		position: static;
	}
	.layui-table th {
		text-align: center;
		font-weight: 400;
	}
</style>
</body>
</html>