<!DOCTYPE HTML>
<html  xmlns:th="http://www.thymeleaf.org">
<head th:include="_meta :: header">
<title>添加</title>
</head>
<body>
<article class="page-container">
	<form class="form form-horizontal layui-form"  id="form-department-add" action="#" th:action="@{/lgQuarter/add}">
        <div class="row cl">
             <label class="form-label col-xs-2 col-sm-2"><span class="c-red">*</span>季度名称：</label>
            <div class="formControls col-xs-10 col-sm-10">
                    <input type="input-text" class="input-text" name="name"  placeholder="季度名称" id="name"/>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-2"><span class="c-red">*</span>考核年份：</label>
            <div class="formControls col-xs-10 col-sm-10">
                <input type="input-text" class="input-text "
                       name="year" placeholder="请选择考核年份" id="test1"/>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-2"><span class="c-red">*</span>考核季度：</label>
            <div class="formControls col-xs-10 col-sm-10">
                <select name="quarter" id="quarter" lay-filter="quarter" >
                    <option value="1" text="第一季度">第一季度</option>
                    <option value="2" text="第二季度">第二季度</option>
                    <option value="3" text="第三季度">第三季度</option>
                    <option value="4" text="第四季度">第四季度</option>
                </select>
            </div>
        </div>
	<div class="row cl">
	<div class="col-xs-4 col-sm-3 col-xs-offset-4 col-sm-offset-3">
		<input class="btn btn-primary radius" id="subbtn" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;"/>
		<input class="btn  radius" id="reset" type="reset"  onclick="javascript:location.replace(location.href);" value="&nbsp;&nbsp;重置&nbsp;&nbsp;"/>
	</div>
	</div>
	</form>
</article>

<!--_footer 作为公共模版分离出去-->
<div th:replace="_footer :: footerjs"></div>
<div th:replace="_ueditor :: ueditor"></div>
 <!--/_footer 作为公共模版分离出去-->
<!--请在下方写此页面业务相关的脚本-->
<script>

 $(function(){

     layui.use('laydate', function(){
         var laydate = layui.laydate;

         //执行一个laydate实例
         laydate.render({
             elem: '#test1' ,//指定元素
             type: 'year'
         });
     });

	$("#form-department-add").validate({
		rules: {
            name: {
                required: true,
            },
        },
		onkeyup:false,
		debug: true,
		success:"valid",
		submitHandler:function(form){
				$(form).ajaxSubmit({
				type: 'POST',
				url: "/lgQuarter/add" ,
				success: function(data){
					if(data.code == "1"){
					    designMsg('添加成功!',1,function(){
							var index = parent.layer.getFrameIndex(window.name);
							parent.location.reload();
							parent.layer.close(index);
						});
					}else{
						designMsg('添加失败!');
					}
				},
                error: function(){
					designMsg('添加异常!',5);
				}
			});
		}
	});
});


 layui.use('form', function(){

     var form = layui.form;
     form.render();
 })
</script>
<style type="text/css">

</style>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>