<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="_meta :: header">
    <meta charset="utf-8"/>
    <meta name="renderer" content="webkit|ie-comp|ie-stand"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}" href="/static/layui/css/layui.css"/>
    <title>列表</title>


</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 季度考核 <span class="c-gray en">&gt;</span>列表<span
        class="c-gray en">&gt;</span>员工考核列表<a class="btn btn-success radius r"
                                              style="line-height:1.6em;margin-top:3px"
                                              href="javascript:location.replace(location.href);" title="刷新"><i
        class="Hui-iconfont">&#xe68f;</i></a></nav>

<div class="page-container">
    <!--th:action="@{/lgQuarter/editScoreDetial}"-->
    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
        <ul class="layui-tab-title">
            <li class="layui-this" th:text="${quarter.name}"></li>

        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <div style="font-size: 17px;color: red"><br>
                    被考核人：<a th:text="${usera.userName}"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    所属部门：<a th:text="${usera.depart}"></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    考核季度：<a th:text="${quarter.name}"></a></div>
                <form action="#" method="post" id="form-scoreDetial-add">

                    <div class="layui-body">

                        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
                            <legend>员工考核详情</legend>
                        </fieldset>

                        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">

                        </div>


                        <div>

                            <table class="layui-table" lay-even="" lay-skin="nob" lay-filter="demo">
                                <colgroup>
                                    <col width="350">
                                    <col width="100">
                                    <col width="100">
                                    <col width="100">
                                    <col width="100">
                                    <col width="100">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>考核项名称</th>
                                    <th>季度目标</th>
                                    <th>实际完成目标</th>
                                    <th>权重</th>
                                    <th></th>
                                    <th>评分</th>
                                </tr>
                                </thead>
                                <tbody id="showTable">

                                <tr th:each="userScoreDetials:${userScoreDetials}" id="not">
                                    <td><input type="input-text" class="input-text" placeholder="考核项"
                                               th:id="'scoreName'+${userScoreDetials.scoreId}"
                                               th:value="${userScoreDetials.scoreName}" readonly="true"/></td>
                                    <td>
                                        <div th:switch="${userScoreDetials.type}">
                                            <input type="input-text" th:case="2"
                                                   th:value="${userScoreDetials.amisAmount}" class="input-text"
                                                   name="amisAmount" placeholder="季度目标"
                                                   th:id="'amisAmount'+${userScoreDetials.scoreId}" hidden="hidden" readonly="true"/>
                                            <input type="input-text" th:case="1"
                                                   th:value="${userScoreDetials.amisAmount}" class="input-text"
                                                   name="amisAmount" placeholder="季度目标"
                                                   th:id="'amisAmount'+${userScoreDetials.scoreId}" hidden="hidden" readonly="true"/>
                                            <input type="input-text" th:case="0"
                                                   th:value="${userScoreDetials.amisAmount}" class="input-text"
                                                   name="amisAmount" placeholder="季度目标"
                                                   th:id="'amisAmount'+${userScoreDetials.scoreId}" readonly="true"/></div>
                                    </td>
                                    <td>
                                        <div th:switch="${userScoreDetials.type}">
                                            <input type="input-text" th:case="2"
                                                   th:value="${userScoreDetials.finishedAmount}" class="input-text"
                                                   name="finishedAmount" placeholder="实际完成目标"
                                                   th:id="'finishedAmount'+${userScoreDetials.scoreId}"
                                                   hidden="hidden" readonly="true"/>
                                            <input type="input-text" th:case="1"
                                                   th:value="${userScoreDetials.finishedAmount}" class="input-text"
                                                   name="finishedAmount" placeholder="实际完成目标"
                                                   th:id="'finishedAmount'+${userScoreDetials.scoreId}"
                                                   hidden="hidden" readonly="true"/>
                                            <input type="input-text" th:case="0"
                                                   th:value="${userScoreDetials.finishedAmount}" class="input-text"
                                                   name="finishedAmount" placeholder="实际完成目标"
                                                   th:id="'finishedAmount'+${userScoreDetials.scoreId}" readonly="true"/></div>
                                    </td>
                                    <td>
                                        <div th:switch="${userScoreDetials.type}">
                                            <input type="input-text" th:case="2" th:value="${userScoreDetials.weights}"
                                               class="input-text" name="weights" placeholder="权重"
                                               th:id="'weights'+${userScoreDetials.scoreId}" readonly="true" hidden="hidden"/>
                                            <input type="input-text" th:case="1" th:value="${userScoreDetials.weights}"
                                                   class="input-text" name="weights" placeholder="权重"
                                                   th:id="'weights'+${userScoreDetials.scoreId}" readonly="true" />
                                            <input type="input-text" th:case="0" th:value="${userScoreDetials.weights}"
                                                   class="input-text" name="weights" placeholder="权重"
                                                   th:id="'weights'+${userScoreDetials.scoreId}" readonly="true" /></div></td>
                                    <td><input type="input-text" th:value="${userScoreDetials.scoreId}"
                                               class="input-text" name="scoreId" placeholder="考核项"
                                               th:id="'scoreId'+${userScoreDetials.scoreId}" value="" readonly="true"
                                               hidden="hidden" />
                                        <input type="input-text" th:value="${userScoreDetials.id}"
                                               class="input-text" name="id" placeholder="考核项"
                                               th:id="'id'+${userScoreDetials.scoreId}" value="" readonly="true"
                                               hidden="hidden"/></td>
                                    <td><input th:if="${userScoreDetials.finishedAmount}!=0" type="input-text" class="input-text" th:value="${userScoreDetials.score}" name="score" placeholder="评分"
                                               th:id="'score'+${userScoreDetials.scoreId}" value="" readonly="readonly"
                                    /><input th:if="${userScoreDetials.finishedAmount}==0" type="input-text" class="input-text" th:value="${userScoreDetials.score}" name="score" placeholder="评分"
                                             th:id="'score'+${userScoreDetials.scoreId}" value="" readonly="readonly"
                                    />
                                    </td>
                                </tr>
                                <tr >
                                    <td></td>
                                    <td></td><td></td><td></td>
                                    <td style="text-align: center">综合评分：</td>
                                    <td><input type="input-text" class="input-text"
                                               th:value="${totalNumber}" readonly="true"
                                    /></td>
                                </tr>
                                </tbody>
                            </table>


                        </div>

                    </div>
                </form>
            </div>

        </div>
    </div>


</div>


<!--_footer 作为公共模版分离出去-->
<div th:replace="_footer :: footerjs">
</div>
<!--/_footer 作为公共模版分离出去-->

<script type="text/javascript">



</script>

<script type="text/javascript" th:inline="javascript">



    $(function () {
        if ($.validator) {
            $.validator.prototype.elements = function () {
                var validator = this,
                    rulesCache = {};

                // select all valid inputs inside the form (no submit or reset buttons)
                return $(this.currentForm)
                    .find("input, select, textarea")
                    .not(":submit, :reset, :image, [disabled]")
                    .not(this.settings.ignore)
                    .filter(function () {
                        if (!this.name && validator.settings.debug && window.console) {
                            console.error("%o has no name assigned", this);
                        }
                        //注释这行代码
                        // select only the first element for each name, and only those with rules specified
                        //if ( this.name in rulesCache || !validator.objectLength($(this).rules()) ) {
                        //    return false;
                        //}
                        rulesCache[this.name] = true;
                        return true;
                    });
            }
        }
    })

</script>

<script>
    //注意：选项卡 依赖 element 模块，否则无法进行功能性操作
    layui.use('element', function () {
        var element = layui.element;

        //…
    });
</script>
<style type="text/css">
    .layui-body {
        position: static;
    }
</style>
</body>
</html>