<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="_meta :: header">
    <meta charset="utf-8"/>
    <meta name="renderer" content="webkit|ie-comp|ie-stand"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}" href="/static/layui/css/layui.css"/>
    <title>列表</title>


</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 季度考核 <span class="c-gray en">&gt;</span>列表<span
        class="c-gray en">&gt;</span>员工考核列表<a class="btn btn-success radius r"
                                              style="line-height:1.6em;margin-top:3px"
                                              href="javascript:location.replace(location.href);" title="刷新"><i
        class="Hui-iconfont">&#xe68f;</i></a></nav>

<div class="page-container">
    <!--th:action="@{/lgQuarter/editScoreDetial}"-->
    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
        <ul class="layui-tab-title">
            <li class="layui-this">当前季度评分</li>
            <li th:each="list:${lists}" th:text="${list.getLgQuarter().getName()}+'(只读)'">当前季度评分</li>

        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <div style="font-size: 17px;color: red"><br>
                    被考核人：<a th:text="${usera.userName}"></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    所属部门：<a th:text="${usera.depart}"></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    考核季度：<a th:text="${quarter.name}"></a></div>
                <form action="#" method="post" id="form-scoreDetial-add">

                    <div class="layui-body">

                        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
                            <legend>员工考核详情</legend>
                        </fieldset>

                        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">

                        </div>


                        <div>

                            <table class="layui-table" lay-even="" lay-skin="nob" lay-filter="demo" id="nowTable">
                                <colgroup>
                                    <col width="350">
                                    <col width="100">
                                    <col width="100">
                                    <col width="100">
                                    <col width="100">
                                    <col width="100">
                                    <col width="20">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>考核项名称</th>
                                    <th>季度目标</th>
                                    <th>实际完成目标</th>
                                    <th>权重</th>
                                    <th></th>
                                    <th>评分</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody id="showTable">

                                <tr th:each="userScoreDetials:${userScoreDetials}" id="not">
                                    <td><input type="input-text" class="input-text" placeholder="考核项"
                                               th:id="'scoreName'+${userScoreDetials.scoreId}"
                                               th:value="${userScoreDetials.scoreName}" readonly="true"/></td>
                                    <td>
                                        <div th:switch="${userScoreDetials.type}">
                                            <input type="input-text" th:case="2"
                                                   th:value="${userScoreDetials.amisAmount}" class="input-text"
                                                   name="amisAmount" placeholder="季度目标"
                                                   th:id="'amisAmount'+${userScoreDetials.scoreId}" hidden="hidden" readonly="true"/>
                                            <input type="input-text" th:case="1"
                                                   th:value="${userScoreDetials.amisAmount}" class="input-text"
                                                   name="amisAmount" placeholder="季度目标"
                                                   th:id="'amisAmount'+${userScoreDetials.scoreId}" hidden="hidden" readonly="true"/>
                                            <input type="input-text" th:case="0"
                                                   th:value="${userScoreDetials.amisAmount}" class="input-text"
                                                   name="amisAmount" placeholder="季度目标"
                                                   th:id="'amisAmount'+${userScoreDetials.scoreId}" readonly="true"/></div>
                                    </td>
                                    <td>
                                        <div th:switch="${userScoreDetials.type}">
                                            <input type="input-text" th:case="2"
                                                   th:value="${userScoreDetials.finishedAmount}" class="input-text"
                                                   name="finishedAmount" placeholder="实际完成目标"
                                                   th:id="'finishedAmount'+${userScoreDetials.scoreId}"
                                                   hidden="hidden" readonly="true"/>
                                            <input type="input-text" th:case="1"
                                                   th:value="${userScoreDetials.finishedAmount}" class="input-text"
                                                   name="finishedAmount" placeholder="实际完成目标"
                                                   th:id="'finishedAmount'+${userScoreDetials.scoreId}"
                                                   hidden="hidden" readonly="true"/>
                                            <input type="input-text" th:case="0"
                                                   th:value="${userScoreDetials.finishedAmount}" class="input-text"
                                                   name="finishedAmount" placeholder="实际完成目标"
                                                   th:id="'finishedAmount'+${userScoreDetials.scoreId}" readonly="true"/></div>
                                    </td>
                                    <td><div th:switch="${userScoreDetials.type}">
                                        <input type="input-text" th:case="2" th:value="${userScoreDetials.weights}"
                                               class="input-text" name="weights" placeholder="权重"
                                               th:id="'weights'+${userScoreDetials.scoreId}" readonly="true" hidden="hidden"/>
                                        <input type="input-text" th:case="1" th:value="${userScoreDetials.weights}"
                                               class="input-text" name="weights" placeholder="权重"
                                               th:id="'weights'+${userScoreDetials.scoreId}" readonly="true"/>
                                        <input type="input-text" th:case="0" th:value="${userScoreDetials.weights}"
                                               class="input-text" name="weights" placeholder="权重"
                                               th:id="'weights'+${userScoreDetials.scoreId}" readonly="true"/></div></td>
                                    <td><input type="input-text" th:value="${userScoreDetials.scoreId}"
                                               class="input-text" name="scoreId" placeholder="考核项"
                                               th:id="'scoreId'+${userScoreDetials.scoreId}" value="" readonly="true"
                                               hidden="hidden" />
                                        <input type="input-text" th:value="${userScoreDetials.id}"
                                               class="input-text" name="id" placeholder="考核项"
                                               th:id="'id'+${userScoreDetials.scoreId}" value="" readonly="true"
                                               hidden="hidden"/>

                                    </td>
                                    <td>
                                        <div th:switch="${userScoreDetials.type}">
                                            <input th:case="0" type="input-text" class="input-text" th:value="${userScoreDetials.score}" name="score" placeholder="评分"
                                               th:id="'score'+${userScoreDetials.scoreId}" value="" readonly="readonly"
                                    /><input th:case="1" type="input-text" class="input-text" th:value="${userScoreDetials.score}" name="score" placeholder="评分"
                                             th:id="'score'+${userScoreDetials.scoreId}" value=""
                                             th:onchange="'javascript:sumTotal()'" onKeyUp="this.value=this.value.replace(/[^\.\d]/g,'');this.value=this.value.replace('.','');"
                                    /><input th:case="2" type="input-text" class="input-text" th:value="${userScoreDetials.score}" name="score" placeholder="评分"
                                             th:id="'score'+${userScoreDetials.scoreId}" value=""   th:onchange="'javascript:sumTotal()'"
                                        />
                                        </div></td>
                                    <td>
                                        <input type="input-text" th:value="${userScoreDetials.type}"
                                               class="input-text"  placeholder="类型"
                                               th:id="'id'+${userScoreDetials.scoreId}" value="" readonly="true"
                                               hidden="hidden"/>
                                    </td>
                                </tr>
                                <tr >
                                    <td></td>
                                    <td></td><td></td><td></td>
                                    <td style="text-align: center">综合评分：</td>
                                    <td><input type="input-text" class="input-text"
                                               th:value="${nowTotalNumber}" readonly="true"
                                               id="totalNumSum"
                                    /></td><td></td>
                                </tr>
                                <tr th:if="${usera.type=='1'} and (${usera.depart=='资金一部'} or ${usera.depart=='资金二部'}) "> <td>一票否决：流动性风险管理（考核期内，发生借款到期不能偿付，则本年度考核得分为0分)</td>
                                    <td></td><td></td><td></td>

                                </tr>
                                </tbody>
                            </table>


                        </div>

                        <div class="col-xs-4 col-sm-3 col-xs-offset-4 col-sm-offset-3">
                            <input class="btn btn-primary radius" id="subbtn" type="submit"
                                   value="&nbsp;&nbsp;提交&nbsp;&nbsp;"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="layui-tab-item " th:each="a:${lists}">
                <div >

                    <div class="layui-body">
                        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
                            <legend>员工考核详情</legend>
                        </fieldset>
                        <div>

                            <table class="layui-table" lay-even="" lay-skin="nob" lay-filter="demo">
                                <colgroup>
                                    <col width="350">
                                    <col width="100">
                                    <col width="100">
                                    <col width="100">
                                    <col width="100">
                                    <col width="100">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>考核项名称</th>
                                    <th>季度目标</th>
                                    <th>实际完成目标</th>
                                    <th>权重</th>
                                    <th></th>
                                    <th>评分</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr th:each="b:${a.getLgScoredetailsList()}">
                                    <td>
                                        <input type="input-text" class="input-text" placeholder="考核项"
                                               th:value="${b.scoreName}" readonly="true" style="background-color: #edebeb;"/></td>
                                    <td>
                                        <div th:switch="${b.type}">
                                            <input type="input-text" th:case="2" th:value="${b.amisAmount}"
                                                   class="input-text" placeholder="季度目标"
                                                   hidden="hidden" readonly="true" style="background-color: #edebeb"/>
                                            <input type="input-text" th:case="1" th:value="${b.amisAmount}"
                                                   class="input-text" placeholder="季度目标"
                                                   hidden="hidden" readonly="true" style="background-color: #edebeb"/>
                                            <input type="input-text" th:case="0" th:value="${b.amisAmount}"
                                                   class="input-text" placeholder="季度目标"
                                                   readonly="true" style="background-color: #edebeb"/></div>
                                    </td>
                                    <td>
                                        <div th:switch="${b.type}">
                                            <input type="input-text" th:case="2" th:value="${b.finishedAmount}"
                                                   class="input-text" placeholder="实际完成目标"
                                                   hidden="hidden" readonly="true" style="background-color: #edebeb"/>
                                            <input type="input-text" th:case="1" th:value="${b.finishedAmount}"
                                                   class="input-text" placeholder="实际完成目标"
                                                   hidden="hidden" readonly="true" style="background-color: #edebeb"/>
                                            <input type="input-text" th:case="0" th:value="${b.finishedAmount}"
                                                   class="input-text" placeholder="实际完成目标"
                                                   readonly="true" style="background-color: #edebeb"/></div>
                                    </td>
                                    <td>
                                        <div th:switch="${b.type}">
                                            <input type="input-text" th:case="2" th:value="${b.weights}" class="input-text"
                                                   placeholder="权重"
                                                   readonly="true" style="background-color: #edebeb" hidden="hidden"/>
                                            <input type="input-text" th:case="1" th:value="${b.weights}" class="input-text"
                                               placeholder="权重"
                                                   readonly="true" style="background-color: #edebeb"/>
                                            <input type="input-text" th:case="0" th:value="${b.weights}" class="input-text"
                                                   placeholder="权重"
                                                   readonly="true" style="background-color: #edebeb"/></div></td>
                                    <td><input type="input-text" th:value="${b.scoreId}" class="input-text"
                                               placeholder="考核项"
                                               value="" readonly="true"
                                               hidden="hidden" style="background-color: #edebeb"/></td>
                                    <td><input type="input-text" class="input-text" placeholder="评分"
                                               th:value="${b.score}" readonly="true" style="background-color: #edebeb"
                                    /></td>
                                </tr>
                                <tr >
                                    <td></td>
                                    <td></td><td></td><td></td>
                                    <td style="text-align: center">综合评分：</td>
                                    <td><input type="input-text" class="input-text"
                                               th:value="${a.totalNum}" readonly="true"
                                    /></td>
                                </tr>
                                </tbody>
                            </table>


                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>


</div>


<!--_footer 作为公共模版分离出去-->
<div th:replace="_footer :: footerjs">
</div>
<!--/_footer 作为公共模版分离出去-->

<script type="text/javascript">
    $(document).on('click', 'table tr td #delete', function (event) {
        $(this).closest('tr').remove();
    });

    function sumTotal(){


        var count=0;

        $("#nowTable #not").each(function(){
            var tdArr = $(this).children();
            var type = tdArr.eq(6).find("input").val();//收入类别
            var history_income_type ;//收入类别
            var history_income_money ;//收入金额
            if(type==2){
                history_income_type =1;//收入类别
                history_income_money = tdArr.eq(5).find("input").val();//收入金额
            }else{
                history_income_type = tdArr.eq(3).find("input").val();//收入类别
                history_income_money = tdArr.eq(5).find("input").val();//收入金额
            }

            count=count+(history_income_type*history_income_money);
        });
        $("#totalNumSum").attr("value",parseInt(count));
    }

</script>

<script type="text/javascript" th:inline="javascript">


    var data5 = [[${userId}]];
    var data6 = [[${quarterId}]];


    $(function () {
        $("#form-scoreDetial-add").validate({
            rules: {
                amisAmount: {
                    required: true,
                    number: true
                }, finishedAmount: {
                    required: true,
                    number: true
                }, weights: {
                    required: true,
                    number: true
                },score:{
                    required: true,
                    number: true,
                    max :100
                }

            },

            onkeyup: false,
            debug: true,
            success: "valid",
            submitHandler: function (form) {

                var formData = $('form').serialize();
                var formObject = {};
                for (var item in formData) {
                    formObject['id'] = formData[item].id;
                    formObject['score']=formData[item].score;
                }
                formData = JSON.stringify(formObject);
                $(form).ajaxSubmit({
                    type: 'POST',
                    url: "/lgQuarter/updateUserScoreDetialByScore",
                    data: {dat: formData, userId: data5, quarterId: data6},
                    success: function (data) {
                        if (data.code == "1") {
                            designMsg('添加成功!', 1, function () {
                                var index = parent.layer.getFrameIndex(window.name);
                                parent.location.reload();
                                parent.layer.close(index);
                            });
                        } else {
                            designMsg('添加失败!');
                        }
                    },
                    error: function () {
                        designMsg('添加异常!', 5);
                    }
                });
            }
        });
    });


    $(function () {
        if ($.validator) {
            $.validator.prototype.elements = function () {
                var validator = this,
                    rulesCache = {};

                // select all valid inputs inside the form (no submit or reset buttons)
                return $(this.currentForm)
                    .find("input, select, textarea")
                    .not(":submit, :reset, :image, [disabled]")
                    .not(this.settings.ignore)
                    .filter(function () {
                        if (!this.name && validator.settings.debug && window.console) {
                            console.error("%o has no name assigned", this);
                        }
                        //注释这行代码
                        // select only the first element for each name, and only those with rules specified
                        //if ( this.name in rulesCache || !validator.objectLength($(this).rules()) ) {
                        //    return false;
                        //}
                        rulesCache[this.name] = true;
                        return true;
                    });
            }
        }
    })

</script>

<script>
    //注意：选项卡 依赖 element 模块，否则无法进行功能性操作
    layui.use('element', function () {
        var element = layui.element;

        //…
    });
</script>
<style type="text/css">
    .layui-body {
        position: static;
    }
</style>
</body>
</html>