<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style1.css}" href="static/css/style1.css" />
    <script type="text/javascript" th:src="@{/js/jquery.min1.js}" src="static/js/jquery.min1.js"></script>
    <title>立根绩效考核后台管理系统</title>

</head>
<body>
<div> <h4>立根绩效考核系统</h4></div>

</body>
</html>