<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>立根绩效考核后台管理系统</title>
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}" href="static/layui/css/layui.css" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/app.css}" href="static/css/app.css" />
</head>
<body>
<div class="tpl-app <!--{$Think.session.app_style} .tpl-small-app 为折叠状态-->">
    <!--头部-->
    <!--{include file="public/tpl-head"/}-->
    <div class="tpl-header tpl-left">
        <div class="tpl-header-item">
            <ul class="tpl-head-nav left-item">
                <li class="tpl-head-nav-item">
                    <a href="javascript:;" class="tpl-dent"><i class="layui-icon layui-icon-shrink-right"></i></a>
                </li>
                <li class="tpl-head-nav-item">
                    <a href=""><i class="layui-icon layui-icon-refresh"></i></a>
                </li>
                <li class="tpl-head-nav-item">
                    <input type="text" class="search" placeholder="搜索...">
                </li>
            </ul>
            <ul class="tpl-head-nav right-item">
                <li class="tpl-head-nav-item">
                    <a href=""><i class="layui-icon layui-icon-notice"></i></a>
                    <span class="tpl-badeg"></span>
                </li>
                <li class="tpl-head-nav-item theme">
                    <a href="javascript:;"><i class="layui-icon layui-icon-theme"></i></a>
                </li>
                <li class="tpl-head-nav-item">
                    <a href="javascript:;" class="screen"><i class="layui-icon layui-icon-screen-full"></i></a>
                </li>
                <li class="tpl-head-nav-item">
                    <a href="javascript:;" class="user-item" th:text="${session.user.userName}"> <i class="fa caret fa-caret-down"></i></a>
                    <ul class="child-nav">
                        <span class="triangle"><em></em></span>

                        <li>
                            <a data-href="/login/toUpdatePassword" id="updatepass"><i class="fa fa-key"></i>修改密码</a>
                        </li>
                        <li>
                            <a href="/login/logout" class="logout"><i class="fa fa-sign-out"></i>退出登陆</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!--导航栏-->
    <div class="tpl-side">
        <div class="tpl-side-menu">
            <div class="tpl-user-image">
                <span class="user-name">立根绩效考核系统</span>
                <a href="javascript:;" class="user-logo"><img src="../images/ligen.jpg"></a>
            </div>
            <ul class="tpl-nav">
                <div class="tpl-nav-body">
                    <li class="nav-item">
                        <a  data-href="/login/index" class="nav-item-link" id="ll">
                            <i class="layui-icon layui-icon-home nav-icon"></i>
                            <span>主页</span>
                        </a>
                    </li>
                    <li class="nav-item" th:if="${session.lgAuthorities.id}==1 or ${session.lgAuthorities.id}==3 or ${session.lgAuthorities.id}==2">
                        <a data-href="/lgQuarter/allQuarter" class="nav-item-link " id="aa">
                            <i class="layui-icon layui-icon-user nav-icon"></i>
                            <span>季度考核</span>
                            <i class="fa fa-caret-right nav-right-icon"></i>
                        </a>

                    </li>
                    <li class="nav-item" th:if="${session.lgAuthorities.id}==3">
                        <a class="nav-item-link" >
                            <i class="layui-icon layui-icon-set nav-icon"></i>
                            <span>系统设置</span>
                            <i class="fa fa-caret-right nav-right-icon"></i>
                        </a>
                        <ul class="child-nav">
                            <li class="child-nav-item">
                                <a data-href="/lgUser/allUser" id="bb">
                                    <i class="fa fa-cogs"></i>
                                    <span>员工管理</span>
                                </a>
                            </li>
                            <li class="child-nav-item">
                                <a data-href="/LgScoreLibrary/allScorelibrary" id="cc">
                                    <i class="fa fa-edge"></i>
                                    <span>考核库管理</span>
                                </a>
                            </li>

                        </ul>
                    </li>

                </div>
            </ul>
            <ul class="tpl-bottom-nav">
                <li class="tpl-head-nav-item">
                    <a href="javascript:;"><i class="layui-icon layui-icon-notice"></i></a>
                </li>
                <li class="tpl-head-nav-item theme">
                    <a href="javascript:;"><i class="layui-icon layui-icon-theme"></i></a>
                </li>
                <li class="tpl-head-nav-item">
                    <a  data-href="/login/toUpdatePassword" id="updatepasstwo"><i class="layui-icon layui-icon-edit"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="tpl-body">


        <iframe frameborder="0" scrolling="yes" style="width:100%;height:100%" src="/lgQuarter/allQuarter" ></iframe>
    </div>
    <!--侧边栏-->
    <!--{include file="public/tpl-right-bar"/}-->
    <div class="tpl-right-bar">
        <div class="tpl-right-bar-show">
            <div class="tpl-card">
                <div class="tpl-card-head">配色方案</div>
                <div class="tpl-card-body">
                    <ul class="theme-list">
                        <li class="theme-item" theme-id="1">
                            <div class="theme-head" style="background-color: #ffffff" bg="#ffffff" color="#444444"></div>
                            <div class="theme-side" style="background-color: #20222A" bg="#20222A" color="rgba(255,255,255,.8)">
                                <div class="theme-logo" style="background-color: #20222A" bg="#20222A" color="rgba(255,255,255,.8)"></div>
                            </div>
                        </li>
                        <li class="theme-item" theme-id="2">
                            <div class="theme-head" style="background-color: #ffffff" bg="#ffffff" color="#444444"></div>
                            <div class="theme-side" style="background-color: #50314F" bg="#50314F" color="rgba(255,255,255,.8)">
                                <div class="theme-logo" style="background-color: #50314F" bg="#50314F" color="rgba(255,255,255,.8)"></div>
                            </div>
                        </li>
                        <li class="theme-item" theme-id="3">
                            <div class="theme-head" style="background-color: #ffffff" bg="#ffffff" color="#444"></div>
                            <div class="theme-side" style="background-color: #333f58" bg="#333f58" color="rgba(255,255,255,.8)">
                                <div class="theme-logo" style="background-color: #1E9FFF" bg="#1E9FFF" color="rgba(255,255,255,.8)"></div>
                            </div>
                        </li>
                        <li class="theme-item" theme-id="4">
                            <div class="theme-head" style="background-color: #ffffff" bg="#ffffff" color="#444"></div>
                            <div class="theme-side" style="background-color: #2e9688" bg="#2e9688" color="rgba(255,255,255,.8)">
                                <div class="theme-logo" style="background-color: #2e9688" bg="#2e9688" color="rgba(255,255,255,.8)"></div>
                            </div>
                        </li>
                        <li class="theme-item" theme-id="5">
                            <div class="theme-head" style="background-color: #ffffff" bg="#ffffff" color="#444"></div>
                            <div class="theme-side" style="background-color: #20222a" bg="#20222a" color="rgba(255,255,255,.8)">
                                <div class="theme-logo" style="background-color: #f78400" bg="#f78400" color="rgba(255,255,255,.8)"></div>
                            </div>
                        </li>
                        <li class="theme-item" theme-id="6">
                            <div class="theme-head" style="background-color: #ffffff" bg="#ffffff" color="#444"></div>
                            <div class="theme-side" style="background-color: #242d38" bg="#242d38" color="rgba(255,255,255,.8)">
                                <div class="theme-logo" style="background-color: #AA3130" bg="#AA3130" color="rgba(255,255,255,.8)"></div>
                            </div>
                        </li>
                        <li class="theme-item" theme-id="7">
                            <div class="theme-head" style="background-color: #ffffff" bg="#ffffff" color="#444"></div>
                            <div class="theme-side" style="background-color: #20222a" bg="#20222a" color="rgba(255,255,255,.8)">
                                <div class="theme-logo" style="background-color: #3A3D49" bg="#3A3D49" color="rgba(255,255,255,.8)"></div>
                            </div>
                        </li>
                        <li class="theme-item" theme-id="8">
                            <div class="theme-head" style="background-color: #2F9688" bg="#2F9688" color="#ffffff"></div>
                            <div class="theme-side" style="background-color: #20222a" bg="#20222a" color="rgba(255,255,255,.8)">
                                <div class="theme-logo" style="background-color: #226A62" bg="#226A62" color="rgba(255,255,255,.8)"></div>
                            </div>
                        </li>
                        <li class="theme-item" theme-id="9">
                            <div class="theme-head" style="background-color: #393d49" bg="#393d49" color="#ffffff"></div>
                            <div class="theme-side" style="background-color: #20222a" bg="#20222a" color="rgba(255,255,255,.8)">
                                <div class="theme-logo" style="background-color: #20222a" bg="#20222a" color="rgba(255,255,255,.8)"></div>
                            </div>
                        </li>
                        <li class="theme-item" theme-id="10">
                            <div class="theme-head" style="background-color: #ffffff" bg="#ffffff" color="#4f4f4f"></div>
                            <div class="theme-side" style="background-color: #ad5fcf" bg="#ad5fcf" color="rgba(255,255,255,.8)">
                                <div class="theme-logo" style="background-color: #20222A" bg="#20222A" color="rgba(255,255,255,.8)"></div>
                            </div>
                        </li>
                        <li class="theme-item" theme-id="11">
                            <div class="theme-head" style="background-color: #ffffff" bg="#ffffff" color="#444"></div>
                            <div class="theme-side" style="background-color: #20222A" bg="#20222A" color="#b91a1a">
                                <div class="theme-logo" style="background-color: #20222A" bg="#20222A" color="#b91a1a"></div>
                            </div>
                        </li>
                        <li class="theme-item" theme-id="12">
                            <div class="theme-head" style="background-color: #ffffff" bg="#ffffff" color="#444"></div>
                            <div class="theme-side" style="background-color: #0a5541" bg="#0a5541" color="#eda438">
                                <div class="theme-logo" style="background-color: #20222A" bg="#20222A" color="rgba(255,255,255,.8)"></div>
                            </div>
                        </li>
                        <li class="theme-item" theme-id="13">
                            <div class="theme-head" style="background-color: #ffffff" bg="#ffffff" color="#626262"></div>
                            <div class="theme-side" style="background-color: #f44336" bg="#f44336" color="#fbfbfb">
                                <div class="theme-logo" style="background-color: #f44336" bg="#f44336" color="#fbfbfb"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/layui/layui.js}" src="static/layui/layui.js"></script>
<script type="text/javascript" th:src="@{/js/app.js}" src="static/js/app.js"></script>
<script type="text/javascript" th:src="@{/lib/jquery/1.9.1/jquery.js}" src="static/lib/jquery/1.9.1/jquery.js"></script>
<script>
    $(function(){
        $("#aa").on("click",function(){
            var address =$(this).attr("data-href");
            $("iframe").attr("src",address);
        });

        $("#bb").on("click",function(){
            var address =$(this).attr("data-href");
            $("iframe").attr("src",address);
        });

        $("#cc").on("click",function(){
            var address =$(this).attr("data-href");
            $("iframe").attr("src",address);
        });

        $("#ll").on("click",function(){
            var address =$(this).attr("data-href");
            $("iframe").attr("src",address);
        });

        $("#updatepass").on("click",function(){
            var address =$(this).attr("data-href");
            $("iframe").attr("src",address);
        });
        $("#updatepasstwo").on("click",function(){
            var address =$(this).attr("data-href");
            $("iframe").attr("src",address);
        });
    });
</script>

<style>
    .tpl-side-menu .tpl-nav .nav-item .nav-item-link .nav-icon {
        font-size: 14px;
        position: absolute;
        left: 20px;
        top: 2px;
    }
    .tpl-app .tpl-header .tpl-header-item .right-item {
        position: absolute;
        top: 0;
        right: 50px;
        padding: 0 !important;
    }
</style>
</body>
</html>